## OSX ###
.DS_Store

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### retry ###
*.retry


# Package Files #
*.tar
*.rpm
basic-files
my-conf

### IntelliJ IDEA ###
.idea
*.iml
*.ipr
*.iws

### Vim ###
*.swp

### Other ###
