#!/bin/bash

docker stop zk
docker rm zk

docker run -d  --network host --restart always \
 -v {{ soft_home }}/data:/data \
 -v {{ soft_home }}/datalog:/datalog \
 -v {{ soft_home }}/logs:/logs \
 -e ZOO_SERVERS="{% for i in groups['zookeeper_docker'] %}server.{{ i.id|d(loop.index) }}={{ hostvars[i].ansible_ssh_host }}:{{ soft_connection_port }}:{{ soft_election_port }}:participant;0.0.0.0:{{ soft_client_port }}{% if not loop.last %} {% endif %}
{% endfor %}" \
 -e ZOO_LOG4J_PROP="INFO,ROLLINGFILE" \
 -e ZOO_MY_ID={%
        for i in groups['zookeeper_docker'] %}
    {%- if i.port is not defined and (i.host|d(i) == ansible_default_ipv4.address or i.host|d(i) == ansible_nodename) -%}
        {%- if i.id is not defined -%}{{ loop.index }}{%- else -%}{{ i.id }}{%- endif -%}
    {%- elif (i.host|d(i) == ansible_default_ipv4.address or i.host|d(i) == ansible_nodename) and i.port|d() == soft_port -%}
        {%- if i.id is not defined -%}{{ loop.index }}{%- else -%}{{ i.id }}{%- endif -%}
    {%- elif i.host|d(i) == '127.0.0.1' and i.port|d() == soft_port -%}
        {%- if i.id is not defined -%}{{ loop.index }}{%- else -%}{{ i.id }}{%- endif -%}
    {%- endif -%}
{% endfor %} \
 --name zk \
 zookeeper:{{soft_version}}
