#!/bin/bash

docker stop kafka
docker rm kafka

docker run -d --network host  --restart always \
 -e KAFKA_BROKER_ID={% for i in groups['kafka_docker'] %}
    {%- if i.host|d(i) == ansible_default_ipv4.address or i.host|d(i) == ansible_nodename -%}
        {%- if i.id is not defined -%}{{ loop.index }}{%- else -%}{{ i.id }}{%- endif -%}
    {%- endif -%}
{% endfor %} \
 -e KAFKA_ZOOKEEPER_CONNECT="{% for i in groups['zookeeper_docker'] %}{{ hostvars[i].ansible_ssh_host }}:2181{% if not loop.last %},{% endif %}
{% endfor %}" \
 -e KAFKA_ADVERTISED_LISTENERS={% for i in groups['kafka_docker'] %}
    {%- if i.host|d(i) == ansible_default_ipv4.address or i.host|d(i) == ansible_nodename -%}
PLAINTEXT://{{ hostvars[i].ansible_ssh_host }}:{{ soft_port }}
    {%- endif -%}
{% endfor %} \
 -e KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:{{ soft_port }} \
 -v {{ soft_home }}/docker_bin/kafka-server-start.sh:/opt/kafka/bin/kafka-server-start.sh \
 -v {{ soft_home }}:/kafka \
 -v /etc/timezone:/etc/timezone \
 -v /etc/localtime:/etc/localtime \
 -v /etc/hosts:/etc/hosts \
 --name kafka \
 wurstmeister/kafka:2.11-1.1.1
