---
# author: wzq

- include_tasks: 'install_soft.yml'
  name: '{{installer_hadoop}} | 安装task脚本'

- include_tasks: 'init_config.yml'
  name: '{{installer_hadoop}} | 初始化配置'

- include_tasks: 'stop-yarn.yml'
  name: '{{installer_hadoop}} | 停止yarn'

- include_tasks: 'start-yarn.yml'
  name: '{{installer_hadoop}} | 启动yarn'
