---
# author: wzq

- name: '{{installer_hadoop}} | 停止所有yarn组件'
  include_tasks: 'stop-yarn.yml'

- name: '{{installer_hadoop}} | 停止所有dfs组件'
  include_tasks: 'stop-dfs.yml'

- name: "{{installer_hadoop}} | 删除 {{hadoop_data_home}} 目录"
  file: path={{hadoop_data_home}} state=absent
#
#- name: "{{installer_hadoop}} | 删除 {{parent_home}} 目录"
#  file: path={{parent_home}} state=absent

- name: "{{installer_hadoop}} | 检查{{soft_profile}}环境变量是否存在"
  stat: path={{soft_profile}}
  register: soft_profile_result

- name: "{{installer_hadoop}} | 删除 {{soft_name}} 环境变量 {{soft_profile}}"
  file: path={{soft_profile}} state=absent
  when: soft_profile_result.stat.exists
